@import './partials/_forms.css';
@import './partials/_header.css';
@import './partials/_search.css';
@import './partials/_top-nav.css';
@import './partials/_our-services.css';
@import './partials/_our_products.css';
@import './partials/_services.css';
@import './partials/_footer.css';
@import './partials/_theme.css';

.container-full {
    width: 100%;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px;
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}