#footer-boxes {
    padding: 50px 0;
    font-family: 'Roboto';
}
#footer-boxes h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}
#footer-boxes h4 {
    font-size: 20px;
    font-weight: 400;
}
#footer-boxes p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}
#footer-boxes .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}
#footer-boxes .map img {
    margin-bottom: 20px;
}
.map ul {
    margin: 0;
    padding: 0 6px;
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 1px solid #d0cacd;
}
.map a {
    padding: 11px 10px
}
#products-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
#products-menu li {
    margin-bottom: 10px;
}
#products-menu a {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300; 
}



#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bottom-nav,
#socil-icons-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
#bottom-nav a {
    padding: 10px 15px;
    position: relative;
}
#bottom-nav a:after {
    content: '';
    width: 1px;
    height: 15px;
    background: pink;
    position: absolute;
    right: 0;
}

#socil-icons-bottom a {
    /* margin: 0 10px; */
}
#bottom-nav img {
    max-width: 25px;
}
#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#copyright .text-center {
    flex: 1;
}
#jump-to-top {
    padding-right: 15px;
}