#footer-boxes {
    padding: 50px 0;
    font-family: 'Roboto';
    background: url('../../images/boxes_footer_bg.jpg') no-repeat right center #131314;
}
#footer-boxes h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}
#footer-boxes h4 {
    font-size: 20px;
    font-weight: 400;
}
#footer-boxes p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}
#footer-boxes .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}
#footer-boxes .map img {
    margin-bottom: 20px;
}
.map ul {
    margin: 0;
    padding: 0 6px;
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 1px solid #d0cacd;
}
.map a {
    padding: 11px 10px
}
#products-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
#products-menu li {
    margin-bottom: 10px;
}
#products-menu a {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300; 
}



.footer-container {
    border-top: 1px solid #272829;
    border-bottom: 1px solid #272829;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
#bottom-nav,
#social-icons-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
#bottom-nav a {
    padding: 10px 15px;
    position: relative;
    color: #d0cacd;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
}
#bottom-nav li:first-child a {
    padding-left: 0;
}
#bottom-nav a:after {
    content: '';
    width: 1px;
    height: 15px;
    background: #d0cacd;
    position: absolute;
    right: 0;
    bottom: 11px;
}

#social-icons-bottom a {
    margin-left: 8px;
}
#bottom-nav img {
    max-width: 25px;
}
#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    color: #d0cacd;
    font-size: 12px;
    font-family: 'Roboto';
    padding: 20px 0;
    align-items: center;
    background: url('../../images/footer_bg.jpg') 96% bottom no-repeat;
}
#copyright .text-center {
    flex: 1;
}
#copyright p {
    margin-bottom: 0;
}
#jump-to-top i {
    color: #d0cacd; 
    font-size: 30px;
}
