#flags {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}
#flags li {
    float: left;
}
#flags li:first-child {
    margin-right: 10px;
}
#top-search {
    background: #38393d;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 30px;
}