.full-colored,
li a.active {
    background: rgb(149,85,255); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(149,85,255,1) 0%, rgba(98,175,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(149,85,255,1) 0%,rgba(98,175,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(149,85,255,1) 0%,rgba(98,175,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9555ff', endColorstr='#62afff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}
.bg-1 {
    background: #1f2125;
}
#top-nav a {
    color: #d0cacd;
    font-size: 14px;
}
#top-nav a.active {
    color: white;
}
